<ion-modal-view>
  <ion-header-bar>
    <button style="background-image: url(img/spot-en.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    top: 30%;
    position: absolute;
    left: 3%;
    padding: 0;
    margin: 0;" class="button button-icon button-clear color-yellow">
    </button>
    <button style="background-image: url(img/spot.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    top: 30%;
    position: absolute;
    right: 3% !important;
    padding: 0;
    margin: 0;" class="button button-icon button-clear color-yellow">
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide
        style="background: url('img/2.jpg') no-repeat ;background-size: 100% 100%; width:100%; height:100%;object-fit: contain ">

      </ion-slide>
      <ion-slide
        style="background: url('img/1.jpg') no-repeat ;background-size: 100% 100%; width:100%; height:100%;object-fit: contain ">

      </ion-slide>
      <ion-slide>
        <div
          style="width:100%;height:100%;background: url('img/3.jpg');background-size: 100% 100%;background-repeat: no-repeat"></div>
      </ion-slide>
      <ion-slide>
        <div
          style="width:100%;height:100%;background: url('img/4.jpg');background-size: 100% 100%;background-repeat: no-repeat"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

</ion-modal-view>
