<ion-modal-view>
  <ion-header-bar>
    <img ng-click="$root.closeIntro()" style="top: 50%" class='logo h-right' src='img/spot.png'/>
    <img ng-click="$root.closeIntro()" style="top: 50%" class='logo h-left' src='img/spot-en.png'/>

  </ion-header-bar>
  <ion-content scroll="false">
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <div style="background: url('img/1.jpg') no-repeat ;background-size: 100% 100%;position: absolute;width: 100%;height: 100%"></div>
      </ion-slide>
      <ion-slide>
        <div style="background: url('img/2.jpg') no-repeat ;background-size: 100% 100%;position: absolute;width: 100%;height: 100%"></div>
      </ion-slide>
      <ion-slide>
        <div style="background: url('img/3.jpg') no-repeat ;background-size: 100% 100%;position: absolute;width: 100%;height: 100%"></div>
      </ion-slide>
      <ion-slide>
        <div style="background: url('img/4.jpg') no-repeat ;background-size: 100% 100%;position: absolute;width: 100%;height: 100%"></div>
      </ion-slide>
      <ion-slide>
        <div ng-click="$root.goToLogin()" style="background: url('img/5.jpg') no-repeat ;background-size: 100% 100%;position: absolute;width: 100%;height: 100%"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

</ion-modal-view>
