<ion-view>
  <ion-nav-title>
    <div class='color-yellow text-center myText' ng-if="showStart" ng-click="start()">شروع پروژه</div>
    <div class='color-yellow text-center myText' ng-if="showEnd" ng-click="end()">پایان پروژه</div>
  </ion-nav-title>

  <ion-content id="landingContent" scroll='false' drag-content="false">
    <div id='main-land-container'>
      <div id='set-top' class='target-box bg-dark'>
        <div class='wrap'>
          <label class=" item-input">
            <i class="icon ion-ios-search placeholder-icon color-yellow "></i>
            <!-- <input class='color-yellow' ng-autocomplete id="autocomplete-to" type="text" ng-model="sel_place"  placeholder="Pickup location" details="autocomplete.details" > -->
            <input style="direction: rtl;text-align: right" ng-disabled='!enableBox' class='color-yellow myText'
                   id="autocompletefrom" ng-model='start_box.location' type="text" ng-focus='disableTapFrom()'
                   placeholder="آدرس"/>
          </label>

        </div>
      </div>

      <!-- <input type="datetime-local"> -->

      <div id="map" data-tap-disabled="true"> <!-- -->
      </div>
      <input id='Tripdate' type='datetime-local' ng-model='Trip_Date'/>
    </div>

    <div id='my-pop' class='animation-styles bg-dark1'>
      <!--http://codepen.io/anon/pen/avNRwz -->
      <my-date-time-picker placeholder="Enter Date here" title="Select Date" ng-model="my_model"/>
      <!---->
      <div id='tab-hide' class='bg-dark1 visible' style="display: none">
        <div>
          <div class='head-box text-center'>
            <div class='vertical-middle'>
              <span class='color-yellow d-block '>{{selected_ph.price}}</span>
              <span class='color-gery d-block myText'>{{selected_ph.description}}</span>
            </div>
          </div>
          <!---->
          <div id='fare-breakup-box' class='text-center'>
            <div class='head'>
              <span class="myText">فرم درخواست</span>
            </div>
            <div class='content-box'>
              <div id='login-from-box' class='m-top-20'>
                <div class='main-container'>
                  <div class="input-box ">
                    <div class='input-box row'>
                      <div class="col col-10">
                                <span ng-click="decrement_val('Adults')">
                                   <i class="ion-minus" style="color: #ddd"></i>
                                </span>
                      </div>
                      <div class="col col-80">
                        <label style="height: 30px" class="item item-input">
                          <input class="myText color-yellow" placeholder="تعداد عکاس" id="num"
                                 onkeydown="limitSize(event,'num',2)" type="number" style="text-align: center"
                                 value="{{valueAdults}}">
                        </label>
                      </div>
                      <div class="col col-10">
                                <span ng-click="increment_val('Adults')">
                                   <i class="ion-plus" style="color: #ddd"></i>
                                </span>
                      </div>
                    </div>
                    <div class='text-center m-top-10'>
                      <hr class='yellow-hr'></hr>
                      <span class='mid-item bg-grey color-white myText'>در</span>
                    </div>
                    <div class='input-box row'>
                      <div class="col col-33">
                        <label class="item item-input item-select" style="height: 30px">
                          <select id="year" style="min-width: 100%;background-color: #2e2f32" class="color-yellow">
                            <option style="min-width: 100%" class="myText color-white" value="0" selected>سال</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1396" >1396</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1397" >1397</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1398" >1398</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1399" >1399</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1400" >1400</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1401" >1401</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1402" >1402</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1403" >1403</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1404" >1404</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1405" >1405</option>
                          </select>
                        </label>
                      </div>
                      <div class="col col-33">
                        <label style="height: 30px" class="item item-input item-select">
                          <select id="month" style="min-width: 100%;background-color: #2e2f32" class="color-yellow">
                            <option style="min-width: 100%" class="myText color-white" value="0" selected>ماه</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1">فروردین</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="2">اردیبهشت</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="3">خرداد</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="4" >تیر</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="5" >مرداد</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="6" >شهریور</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="7" >مهر</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="8" >آبان</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="9" >آذر</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="10" >دی</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="11" >بهمن</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="12" >اسفند</option>
                          </select>
                        </label>
                      </div>
                      <div class="col col-33">
                        <label class="item item-input item-select" style="height: 30px">
                          <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="day">
                            <option style="min-width: 100%" class="myText color-white" value="0" selected>روز</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1">1</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="2">2</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="3">3</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="4" >4</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="5" >5</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="6" >6</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="7" >7</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="8" >8</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="9" >9</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="10" >10</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="11" >11</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="12" >12</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="13" >13</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="14" >14</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="15" >15</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="16" >16</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="17" >17</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="18" >18</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="19" >19</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="20" >20</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="21" >21</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="22" >22</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="23" >23</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="24" >24</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="25" >25</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="26" >26</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="27" >27</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="28" >28</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="29" >29</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="30" >30</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="31" >31</option>
                          </select>
                        </label>
                      </div>
                      </div>
                    <div class='input-box row'>
                      <div class="col col-50">
                        <label class="item item-input item-select" style="height: 30px">
                          <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="hour">
                            <option style="min-width: 100%" class="myText color-white" value="0" selected>ساعت</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1">1</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="2">2</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="3">3</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="4" >4</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="5" >5</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="6" >6</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="7" >7</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="8" >8</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="9" >9</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="10" >10</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="11" >11</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="12" >12</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="13" >13</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="14" >14</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="15" >15</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="16" >16</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="17" >17</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="18" >18</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="19" >19</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="20" >20</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="21" >21</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="22" >22</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="23" >23</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="24" >24</option>
                          </select>
                        </label>
                      </div>
                      <div class="col col-50">
                        <label class="item item-input item-select" style="height: 30px">
                          <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="minute">
                            <option style="min-width: 100%" class="myText color-white" value="0" selected>دقیقه</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="1">1</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="2">2</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="3">3</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="4" >4</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="5" >5</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="6" >6</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="7" >7</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="8" >8</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="9" >9</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="10" >10</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="11" >11</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="12" >12</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="13" >13</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="14" >14</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="15" >15</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="16" >16</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="17" >17</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="18" >18</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="19" >19</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="20" >20</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="21" >21</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="22" >22</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="23" >23</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="24" >24</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="25" >25</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="26" >26</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="27" >27</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="28" >28</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="29" >29</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="30" >30</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="31" >31</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="32" >32</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="33" >33</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="34" >34</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="35" >35</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="36" >36</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="37" >37</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="38" >38</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="39" >39</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="40" >40</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="41" >41</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="42" >42</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="43" >43</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="44" >44</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="45" >45</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="46" >46</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="47" >47</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="48" >48</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="49" >49</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="50" >50</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="51" >51</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="52" >52</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="53" >53</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="54" >54</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="55" >55</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="56" >56</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="57" >57</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="58" >58</option>
                            <option style="min-width: 100%" class="myText color-yellow" value="59" >59</option>
                          </select>
                        </label>
                      </div>
                    </div>
                    <div class='input-box'>
                      <input name='moreInfo' id="moreInfo" ng-model='moreInfo' placeholder="آدرس دقیقتر یا توضیحات"
                             class='color-yellow myText'
                             type='text' style="text-align: right;direction: rtl"/>
                      <!--<img class='input-icon icon-20' src='img/icons/user.png'/>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-scroll delegate-handle="calendarScroll" direction="x" class='bg-dark2'>
        <div class="row no-padding text-center ">
          <div class="col col-25" ng-class="{active_cab : active_cab == $index }" ng-click='clicked_item($index)'
               ng-repeat="p in ph">
            <div class="col color-yellow myText" style="font-size: x-small">{{p.name}}</div>
            <img ng-src='img/{{p.icon}}.png' style='width: 50px'/>
            <!-- <div class="col color-gery">{{day.number}}</div> -->
          </div>
        </div>
      </ion-scroll>
    </div>
    <div id='my-pop2' class='animation-styles bg-dark1'>
      <div class='bg-dark1 visible'>
      <div class='head-box text-center' style="height: 90px;">
        <div class='vertical-middle'>
          <span class='color-yellow d-block myText'>نام</span>
          <span class='color-yellow d-block myText'>{{driver.name}}</span>
          <span class='color-gery d-block myText'>شماره</span>
          <span class='color-gery d-block myText'>{{driver.mobile}}</span>
        </div>
      </div>
      </div>
    </div>
    <div class='color-white text-center net-error myText'>به اینترنت متصل نیستید</div>
  </ion-content>

  <ion-footer-bar class="bg-dark" id="footer">
    <div class='footer-box bg-dark color-yellow'>
      <div id="request" class='my-button h-100-p text-center myText' ng-if="!showDriverInfo" style="display: none" ng-click='ride("now")'>
        درخواست
      </div>
      <div class='my-button h-100-p text-center myText' ng-if="showDriverInfo">
        پرداخت
      </div>
    </div>

  </ion-footer-bar>

</ion-view>

