<ion-view>
  <ion-nav-title>
    <div class='color-yellow text-center myText' ng-click="newTrip()">سفر جدید</div>
  </ion-nav-title>

  <ion-content id="landingContent" scroll='false' drag-content="false">
    <div id='main-land-container'>
      <div id='set-top' class='target-box bg-dark'>
        <div class='wrap'>
          <label class=" item-input">
            <i class="icon ion-ios-search placeholder-icon color-yellow "></i>
            <!-- <input class='color-yellow' ng-autocomplete id="autocomplete-to" type="text" ng-model="sel_place"  placeholder="Pickup location" details="autocomplete.details" > -->
            <input style="direction: rtl;text-align: right" ng-disabled='pop_status == 2' class='color-yellow myText'
                   id="autocompletefrom" ng-model='start_box.location' type="text" ng-focus='disableTapFrom()'
                   placeholder="مبدا"/>
          </label>

        </div>
        <div class='wrap' style='margin-top: 10px;'>
          <label class=" item-input">
            <i class="icon ion-ios-search placeholder-icon color-yellow "></i>
            <!-- <input class='color-yellow' ng-autocomplete id="autocomplete-to" type="text" ng-model="sel_place"  placeholder="Pickup location" details="autocomplete.details" > -->
            <input style="direction: rtl" ng-disabled='pop_status == 2' class='color-yellow myText' id="autocompleteto"
                   ng-model='end_box.location' type="text" ng-focus='disableTapTo()' placeholder="مقصد"/>

          </label>
        </div>
      </div>

      <!-- <input type="datetime-local"> -->

      <div id="map" data-tap-disabled="true"> <!-- -->
      </div>
      <input id='Tripdate' type='datetime-local' ng-model='Trip_Date'/>
    </div>

    <div id='my-pop' class='animation-styles bg-dark1'>
      <!--http://codepen.io/anon/pen/avNRwz -->
      <my-date-time-picker placeholder="Enter Date here" title="Select Date" ng-model="my_model"/>
      <!---->
      <div id='tab-hide' class='bg-dark1 visible'>
        <div ng-if="!showDriverInfo">
          <div class='head-box text-center'>
            <div class='vertical-middle'>
              <span class='color-yellow d-block '>{{selected_cab.cost}}</span>
              <span class='color-gery d-block myText'>هزینه سفر</span>
            </div>
          </div>
          <!---->
          <div id='fare-breakup-box' class='text-center'>
            <div class='head'>
              <span class="myText">بیشتر</span>
            </div>
            <div class='content-box'>
              <div id='login-from-box' class='m-top-20'>
                <div class='main-container'>
                  <div class="input-box ">
                    <div class='input-box'>
                      <input name='name' ng-model='moreInfo' placeholder="توضیحات بیشتر" class='color-yellow myText'
                             type='text' style="text-align: right;direction: rtl"/>
                      <img class='input-icon icon-20' src='img/icons/user.png'/>
                    </div>
                  </div>
                  <div class="input-box ">
                    <div class='input-box'>
                      <input name='name' ng-model='code' placeholder="کد تخفیف" class='color-yellow myText' type='text'
                             style="text-align: right;direction: rtl"/>
                      <img class='input-icon icon-20' src='img/icons/user.png'/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="showDriverInfo">
          <div class="row no-padding b-border-light">
            <div class="col  r-border-light p-10 text-center">
              <p class='color-white p-head myText'>نام راننده</p>
              <p class='color-gery'>{{driver.name}}</p>
            </div>
          </div>
          <div class="row no-padding b-border-light">
            <div class="col  r-border-light p-10 text-center">
              <p class='color-white p-head myText'>شماره تلفن راننده</p>
              <p class='color-gery'>{{driver.mobile}}</p>
            </div>
          </div>
          <div class="row no-padding b-border-light">
            <div class="col  p-10 text-center">
              <p class='color-white p-head myText'>پلاک</p>
              <p class='color-gery'>{{driver.number}}</p>
            </div>
          </div>
        </div>
      </div>

      <ion-scroll delegate-handle="calendarScroll" direction="x" class='bg-dark2'>
        <div class="row no-padding text-center ">
          <div class="col col-25" ng-class="{active_cab : active_cab == $index }" ng-click='clicked_item($index)'
               ng-repeat="cab in cabs">
            <div class="col color-yellow">{{cab.vehicleType | limitTo:7 }}<span
              ng-show='cab.cartype.length > 7'>..</span></div>
            <img ng-src='img/{{cab.cartype}}.png' err-SRC="img/Sedan.png" style='width: 50px'/>
            <!-- <div class="col color-gery">{{day.number}}</div> -->
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class='color-white text-center net-error myText'>به اینترنت متصل نیستید</div>
  </ion-content>

  <ion-footer-bar class="bg-dark">
    <div class='footer-box bg-dark color-yellow' ng-show='pop_status == 1'>
      <div class='w-50-p pull-left my-button h-100-p text-center border-r-yellow myText' ng-click='ride("later")'>رزرو</div>
      <div class='w-50-p pull-left my-button h-100-p text-center myText' ng-click='ride("now")'>درخواست</div>
    </div>

    <div class='footer-box bg-dark color-yellow' ng-show='pop_status == 3'>
      <div class='my-button h-100-p text-center myText' ng-click='cancel()'>لغو</div>
    </div>

  </ion-footer-bar>

</ion-view>
