<ion-view>
  <ion-nav-title>
    <div class='color-yellow text-center myText' ng-if="showStart" ng-click="start()">شروع پروژه</div>
    <div class='color-yellow text-center myText' ng-if="showEnd" ng-click="end()">پایان پروژه</div>
  </ion-nav-title>

  <ion-content id="landingContent" scroll='false' drag-content="false">
    <div id='main-land-container'>
      <div id='set-top' class='target-box bg-dark'>
        <div class='wrap'>
          <label class=" item-input">
            <i class="icon ion-ios-search placeholder-icon color-yellow "></i>
            <!-- <input class='color-yellow' ng-autocomplete id="autocomplete-to" type="text" ng-model="sel_place"  placeholder="Pickup location" details="autocomplete.details" > -->
            <input style="direction: rtl;text-align: right" ng-disabled='!enableBox' class='color-yellow myText'
                   id="autocompletefrom" ng-model='start_box.location' type="text" ng-focus='disableTapFrom()'
                   placeholder="آدرس"/>
          </label>

        </div>
      </div>

      <!-- <input type="datetime-local"> -->

      <div id="map" data-tap-disabled="true"> <!-- -->
      </div>
      <input id='Tripdate' type='datetime-local' ng-model='Trip_Date'/>
    </div>

    <div id='my-pop' class='animation-styles bg-dark1'>
      <!--http://codepen.io/anon/pen/avNRwz -->
      <my-date-time-picker placeholder="Enter Date here" title="Select Date" ng-model="my_model"/>
      <!---->
      <div id='tab-hide' class='bg-dark1 visible' style="display: none">
        <div>
          <div class='head-box text-center'>
            <div class='vertical-middle'>
              <!--<span class='color-yellow d-block ' style="direction: rtl"> تومان {{selected_ph.price}}</span>-->
              <span class='color-gery d-block myText'>{{selected_ph.description}}</span>
            </div>
          </div>
          <!---->
          <div id='fare-breakup-box' class='text-center'>
            <div class='head'>
              <span class="myText">فرم درخواست</span>
            </div>
            <div class='content-box'>
              <div id='login-from-box' class='m-top-20'>
                <div class='main-container'>
                  <div class="input-box ">
                    <div class='input-box row' ng-if="projectType !== 'pa'">

                      <div class="col col-80" style="margin: 0 auto">
                        <label style="height: 30px" class="item item-input">
                          <select id="pak" style="min-width: 100%;background-color: #2e2f32;direction: rtl" class="color-yellow">
                            <option ng-repeat="p in selected_ph.options" id="1p" style="min-width: 100%" class="myText color-yellow" value="{{p.key}}">{{p.value}}
                            </option>
                          </select>

                        </label>
                      </div>

                    </div>
                    <div ng-if="projectType === 're'">
                      <div class='text-center m-top-10'>
                        <hr class='yellow-hr'/>
                        <span class='mid-item bg-grey color-white myText'>در</span>
                      </div>
                      <div class='input-box row'>
                        <div class="col col-33">
                          <label class="item item-input item-select" style="height: 30px">
                            <select id="year" style="min-width: 100%;background-color: #2e2f32" class="color-yellow">
                              <option id="1396" style="min-width: 100%" class="myText color-yellow" value="1396">1396
                              </option>
                              <option id="1397" style="min-width: 100%" class="myText color-yellow" value="1397">1397
                              </option>
                              <option id="1398" style="min-width: 100%" class="myText color-yellow" value="1398">1398
                              </option>
                              <option id="1399" style="min-width: 100%" class="myText color-yellow" value="1399">1399
                              </option>
                              <option id="1400" style="min-width: 100%" class="myText color-yellow" value="1400">1400
                              </option>
                              <option id="1401" style="min-width: 100%" class="myText color-yellow" value="1401">1401
                              </option>
                              <option id="1402" style="min-width: 100%" class="myText color-yellow" value="1402">1402
                              </option>
                              <option id="1403" style="min-width: 100%" class="myText color-yellow" value="1403">1403
                              </option>
                              <option id="1404" style="min-width: 100%" class="myText color-yellow" value="1404">1404
                              </option>
                              <option id="1405" style="min-width: 100%" class="myText color-yellow" value="1405">1405
                              </option>
                            </select>
                          </label>
                        </div>
sele
                        <div class="col col-33">
                          <label class="item item-input item-select" style="height: 30px">
                            <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="day">
                              <option id="01" style="min-width: 100%" class="myText color-yellow" value="1">1</option>
                              <option id="02" style="min-width: 100%" class="myText color-yellow" value="2">2</option>
                              <option id="03" style="min-width: 100%" class="myText color-yellow" value="3">3</option>
                              <option id="04" style="min-width: 100%" class="myText color-yellow" value="4">4</option>
                              <option id="05" style="min-width: 100%" class="myText color-yellow" value="5">5</option>
                              <option id="06" style="min-width: 100%" class="myText color-yellow" value="6">6</option>
                              <option id="07" style="min-width: 100%" class="myText color-yellow" value="7">7</option>
                              <option id="08" style="min-width: 100%" class="myText color-yellow" value="8">8</option>
                              <option id="09" style="min-width: 100%" class="myText color-yellow" value="9">9</option>
                              <option id="010" style="min-width: 100%" class="myText color-yellow" value="10">10
                              </option>
                              <option id="011" style="min-width: 100%" class="myText color-yellow" value="11">11
                              </option>
                              <option id="012" style="min-width: 100%" class="myText color-yellow" value="12">12
                              </option>
                              <option id="013" style="min-width: 100%" class="myText color-yellow" value="13">13
                              </option>
                              <option id="014" style="min-width: 100%" class="myText color-yellow" value="14">14
                              </option>
                              <option id="015" style="min-width: 100%" class="myText color-yellow" value="15">15
                              </option>
                              <option id="016" style="min-width: 100%" class="myText color-yellow" value="16">16
                              </option>
                              <option id="017" style="min-width: 100%" class="myText color-yellow" value="17">17
                              </option>
                              <option id="018" style="min-width: 100%" class="myText color-yellow" value="18">18
                              </option>
                              <option id="019" style="min-width: 100%" class="myText color-yellow" value="19">19
                              </option>
                              <option id="020" style="min-width: 100%" class="myText color-yellow" value="20">20
                              </option>
                              <option id="021" style="min-width: 100%" class="myText color-yellow" value="21">21
                              </option>
                              <option id="022" style="min-width: 100%" class="myText color-yellow" value="22">22
                              </option>
                              <option id="023" style="min-width: 100%" class="myText color-yellow" value="23">23
                              </option>
                              <option id="024" style="min-width: 100%" class="myText color-yellow" value="24">24
                              </option>
                              <option id="025" style="min-width: 100%" class="myText color-yellow" value="25">25
                              </option>
                              <option id="026" style="min-width: 100%" class="myText color-yellow" value="26">26
                              </option>
                              <option id="027" style="min-width: 100%" class="myText color-yellow" value="27">27
                              </option>
                              <option id="028" style="min-width: 100%" class="myText color-yellow" value="28">28
                              </option>
                              <option id="029" style="min-width: 100%" class="myText color-yellow" value="29">29
                              </option>
                              <option id="030" style="min-width: 100%" class="myText color-yellow" value="30">30
                              </option>
                              <option id="031" style="min-width: 100%" class="myText color-yellow" value="31">31
                              </option>
                            </select>
                          </label>
                        </div>
                      </div>
                      <div class='input-box row'>
                        <div class="col col-50">
                          <label class="item item-input item-select" style="height: 30px">
                            <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="hour">
                              <option style="min-width: 100%" class="myText color-white" value="0" selected>ساعت
                              </option>
                              <option style="min-width: 100%" class="myText color-yellow" value="1">1</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="2">2</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="3">3</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="4">4</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="5">5</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="6">6</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="7">7</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="8">8</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="9">9</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="10">10</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="11">11</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="12">12</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="13">13</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="14">14</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="15">15</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="16">16</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="17">17</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="18">18</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="19">19</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="20">20</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="21">21</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="22">22</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="23">23</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="24">24</option>
                            </select>
                          </label>
                        </div>
                        <div class="col col-50">
                          <label class="item item-input item-select" style="height: 30px">
                            <select style="min-width: 100%;background-color: #2e2f32" class="color-yellow" id="minute">
                              <option style="min-width: 100%" class="myText color-white" value="0" selected>دقیقه
                              </option>
                              <option style="min-width: 100%" class="myText color-yellow" value="1">00</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="1">15</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="2">30</option>
                              <option style="min-width: 100%" class="myText color-yellow" value="3">45</option>
                            </select>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class='input-box'>
                      <input id="address" placeholder="آدرس دقیقتر، پلاک ، طبقه "
                             class='color-yellow myText'
                             type='text' style="text-align: right;direction: rtl"/>
                      <!--<img class='input-icon icon-20' src='img/icons/user.png'/>-->
                    </div>
                    <div class='input-box'>
                      <input id="moreInfo" placeholder="نوع مراسم ، شرایط خاص "
                             class='color-yellow myText'
                             type='text' style="text-align: right;direction: rtl"/>
                      <!--<img class='input-icon icon-20' src='img/icons/user.png'/>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-scroll delegate-handle="calendarScroll" direction="x" class='bg-dark2'>
        <div class="row no-padding text-center ">
          <div class="col col-25" ng-class="{active_cab : active_cab == $index }" ng-click='clicked_item($index)'
               ng-repeat="p in ph">
            <div class="col color-yellow myText" style="font-size: x-small">{{p.name}}</div>
            <img ng-src='img/{{p.icon}}.png' style='width: 50px'/>
            <!-- <div class="col color-gery">{{day.number}}</div> -->
          </div>
        </div>
      </ion-scroll>
    </div>
    <div id='my-pop2' class='animation-styles bg-dark1'>
      <div class='bg-dark1 visible'>
        <div class='head-box text-center' style="height: 120px;">
          <div class='vertical-middle'>
            <span class='color-yellow d-block myText' style="padding-top: 40px">نام</span>
            <span class='color-yellow d-block myText'>{{driver.name}}</span>
            <span class='color-gery d-block myText'>شماره</span>
            <span class='color-gery d-block myText'>{{driver.mobile}}</span>

          </div>
        </div>
      </div>
    </div>
    <div class='color-white text-center net-error myText'>به اینترنت متصل نیستید</div>
  </ion-content>

  <ion-footer-bar class="bg-dark" id="footer">
    <div class='footer-box bg-dark color-yellow'>
      <div id="request" style="display: none" class='footer-box bg-dark color-yellow' ng-if="!showDriverInfo">
        <div class='w-50-p pull-left my-button h-100-p text-center border-r-yellow' ng-click='deleteFrom()'>لغو</div>
        <div class='my-button h-100-p text-center myText'
             ng-click='ride("now")'>
          درخواست
        </div>
      </div>
    </div>

  </ion-footer-bar>

</ion-view>

