<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar id='dark-head' class="bar-dark" >
      <!--<ion-nav-back-button>-->
      <!--</ion-nav-back-button>-->

	  <ion-nav-buttons side="right" style="position:absolute;right: 43%">
        <button style="background-image: url(img/menu.png);
    background-size: 70% 60%;
    background-repeat: no-repeat;
    margin-top: 20%;" class="button button-icon button-clear color-yellow" menu-toggle="right">
        </button>
      </ion-nav-buttons>

	  <ion-nav-buttons side="left" style="position:absolute;right: 0">
      <button style="background-image: url(img/spot-en.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    top: 30%;
    position: absolute;
     min-width: 64px;
    left: 3%;
    padding: 0;
    margin: 0;" class="button button-icon button-clear color-yellow">
      </button>
      <button style="background-image: url(img/spot.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    top: 30%;
     min-width: 64px;
    position: absolute;
    right: 3%;
    padding: 0;
    margin: 0;" class="button button-icon button-clear color-yellow">
      </button>
      </ion-nav-buttons>

	</ion-nav-bar>

	<ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" class='bg-grey'  >
    <!-- <ion-header-bar class="bar-stable bg-grey">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content has-bouncing="true" style="background: #221E1B !important">


       <div id='menu-list' class='bg-grey' >
			<!-- <ion-list>
				<ion-item menu-close item-height="10px" ">
				  Login
				</ion-item>
				<ion-item menu-close href="#/app/search">
				  Search
				</ion-item>
			</ion-list> -->
			<div id='profile-box' >
				<div class='list'>
					<a menu-close  class="item item-icon-right item-icon-left color-yellow bg-dark" ng-style="{'line-height': '20px'}">
						<!-- <img class='icon-30' src='img/logo.png'/>	 -->
						<span>{{username}}</span>
						<p class='color-gery'>{{user_data.Mobile}}</p>
						<i class="icon  color-yellow"></i>
					</a>
				</div>
			</div>

			<div class='wrap-it' style="direction: rtl">
				<div class='list' >

				  <!--<a ng-show="type === 2"  menu-close mainmenu class="item item-icon-left item-icon-right color-gery active-menu" href="#/app/landing">-->

            <!--<i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>-->
						 <!--درخواست پروژه-->
            <!--<i class="icon ion-camera f-size-25 color-d-gery"></i>-->
				  <!--</a>-->

				  <!--<a ng-show="type !== 2"  menu-close mainmenu class="item item-icon-left item-icon-right color-gery active-menu" href="#/app/photographer">-->

            <!--<i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>-->
						 <!--صفحه اصلی-->
            <!--<i class="icon ion-camera f-size-25 color-d-gery"></i>-->
				  <!--</a>-->

          <a  menu-close mainmenu ng-click='home()' class="item item-icon-left item-icon-right color-gery ">
            <i class="icon ion-ios-arrow-back f-size-25"></i>
            خانه
            <i class="icon ion-home f-size-25"></i>
          </a>
          <a  menu-close mainmenu ng-click='map()' class="item item-icon-left item-icon-right color-gery ">
            <i class="icon ion-ios-arrow-back f-size-25"></i>
            نقشه
            <i class="icon ion-map f-size-25"></i>
          </a>
          <a  menu-close mainmenu ng-click='load_trips()' class="item item-icon-left item-icon-right color-gery ">
            <i class="icon ion-ios-arrow-back f-size-25"></i>
            پروژه های من
            <i class="icon ion-speedometer f-size-25"></i>
          </a>
          <a  menu-close mainmenu ng-click="settings()" class="item item-icon-left item-icon-right color-gery ">
            <i class="icon ion-ios-arrow-back f-size-25"></i>
            تنظیمات
            <i class="icon ion-settings f-size-25"></i>
          </a>
				  <!--<a menu-close mainmenu  ng-click='load_card_rate()' class="item item-icon-left item-icon-right color-gery " href="#/app/rateCard">-->
            <!--<i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>-->
            <!--نرخ ها-->

            <!--<i class="icon ion-card f-size-25 color-d-gery"></i>-->

          <!--</a>-->

				 <!--  <a class="item item-icon-left item-icon-right color-gery " href="#">
						<i class="icon ion-social-usd f-size-25 color-d-gery"></i>
							Payments
						<i class="icon ion-ios-arrow-forward  f-size-25 color-d-gery"></i>
				  </a>
				 <a class="item item-icon-left item-icon-right color-gery no-border " href="#">
					<i class="icon ion-pricetags f-size-25 color-d-gery"></i>
					Offers & Free Rides
					<i class="icon ion-ios-arrow-forward f-size-25 color-d-gery"></i>
				  </a> -->

				</div>
			</div>
			<div class='wrap-it' style="direction: rtl">
				<div class='list'>

				  <!-- <a class="item item-icon-left item-icon-right color-gery " href="#">
					<i class="icon ion-information-circled f-size-25 color-d-gery"></i>
						Emergency Contact
					<i class="icon ion-ios-arrow-forward f-size-25 color-d-gery"></i>
				  </a>

				 <a class="item item-icon-left item-icon-right color-gery " href="#">
					<i class="icon ion-ios-telephone f-size-25 color-d-gery"></i>
						Call Support
					<i class="icon ion-ios-arrow-forward f-size-25 color-d-gery"></i>
				  </a>-->
				 <a class="item item-icon-left item-icon-right color-gery no-border " href="#">
           <i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>

						درباره ی ما
           <i class="icon ion-man f-size-25 color-d-gery"></i>
				  </a>

					<a  menu-close  ng-click='logout()' class="item item-icon-left item-icon-right color-gery no-border " >
            <i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>
							خروج

            <i class="icon ion-android-exit f-size-25 color-d-gery"></i>
				  </a>

				</div>
			</div>


	   </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
