<ion-view>
  <ion-navbar color="primary"></ion-navbar>
  <ion-content class="home_content bg-grey" style="background: url('img/6.png');background-size: 100% 100%;
    background-repeat: no-repeat;">
    <ion-list style="margin-top: 30%">
      <ion-item ng-click="selected($index)" class="item-text-wrap card" ng-repeat="item in list" style="width: 100%;background-color: transparent !important;margin: 0 auto;margin-bottom: 10px;height: 40px;box-shadow: none;
    margin-top: 10px;">
        <div style="width: 25%;
    float: right;
    background: #71B0D9;
    height: 100%;">
          <h2 style="text-align: center;line-height: 40px">{{item.name}}</h2>
        </div>
        <div style="width: 70%;float: left;background: #444444;
    height: 100%;">
          <h2 style="color: darkgray;text-align: center">{{item.description}}</h2>
          <h2 style="color: darkgray;text-align: center">{{item.price}}</h2>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<style>
  .list{
    margin-top: 50%;
  }
  .scroll {
    height: 35%;
  }
</style>
