<ion-view>
  <ion-navbar color="primary"></ion-navbar>
  <ion-content class="home_content bg-grey" style="background: url('img/entekhab.png');background-size: 100% 100%;
    background-repeat: no-repeat;">
    <ion-list>
      <ion-item ng-click="selected($index)" class="item-text-wrap card" ng-repeat="item in list" style="width: 80%;background-color: whitesmoke !important;margin: 0 auto;margin-bottom: 10px;
    margin-top: 10px;">
        <div class = "item item-avatar" style="direction: rtl;padding-left: 10px">
          <img src = "{{item.icon}}" style="max-height: 100%;
    max-width: 30%;
    top: 0;
    right: 0;">
          <h2 style="text-align: left">{{item.name}}</h2>
          <h2 style="color: darkgray;text-align: left">{{item.description}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

