<ion-modal-view style="min-height: 20%;max-width: 80%;top: 30%;left: 10%;background: rgba(255,255,255,0.9);">
  <ion-content  scroll="false">
    <div>
      <ionic-ratings ratingsobj='ratingsObject' style="font-size: 10vw;padding-bottom: 5%;text-align: center;direction: ltr;padding-top: 10%"></ionic-ratings>
    </div>
    <div style="text-align: center;">
      <button id="end" ng-click="submitRate()"
              style="background-color: rgb(43, 193, 54);width: 42px;height: 42px;color: white;font-size: small;border-radius: 50%"
              class="button button-fab expanded button-energized-900 myText">ثبت
      </button>
    </div>
  </ion-content>
</ion-modal-view>
