<ion-view hide-back-button="true">
  <ion-content class="home_content bg-grey" id="homeCtrl">
      <div ng-click="setType('on')" class="menu-items text-center animated bounceIn m-top-10">
        <img style="width: 100%" src="img/ONLINE-REQUEST.jpg" />
      </div>

      <div ng-click="setType('re')" class="menu-items text-center animated bounceIn m-top-10">
        <img style="width: 100%" src="img/RESERVE.jpg" />
      </div>

      <div ng-click="goToPack()" class="menu-items text-center animated bounceIn m-top-10">
        <img style="width: 100%" src="img/PACKAGES.jpg" />
      </div>

  </ion-content>
</ion-view>

