<ion-view>
  <ion-nav-title>
  </ion-nav-title>
  <ion-content class="home_content" id="homeCtrl">
    <button id="fab-rate" ng-click="logout()" class="button button-fab button-fab-bottom-left expanded button-energized-900 spin" style="background: #4ec1f8"><i class="icon ion-log-out"></i></button>
    <button id="tripstate" ng-click="start()" ng-if="$root.isDriver" class="button button-fab button-fab-bottom-right button-energized-900 myText" style="background: #4ec1f8;font-size: x-small;display: none"></button>
    <div class="home_head" style="direction: ltr!important;">
      <ion-slide-box ng-init="enableSwipe()" pager-click="slide(index)" does-continue="true" Auto-play="true" does-continue="true">
        <ion-slide style="background: url(img/01.jpg)no-repeat;
            background-size: cover"></ion-slide>
        <ion-slide style="background: url(img/02.jpg)no-repeat;
            background-size: cover"></ion-slide>
        <ion-slide style="background: url(img/03.jpg)no-repeat;
            background-size: cover"></ion-slide>
      </ion-slide-box>
    </div>
    <a ng-click="setType('on')"
       collection-item-width="33.33333333333%"
       collection-item-height="132" >
      <div class="menu-items text-center animated bounceIn">
        <img src="img/movie.png" />
        <h4 class="main-text-color myText">درخواست آنلاین</h4>
      </div>

    </a>
    <a ng-click="setType('re')"
       collection-item-width="33.33333333333%"
       collection-item-height="132" >
      <div class="menu-items text-center animated bounceIn">
        <img src="img/industry.png" />
        <h4 class="main-text-color myText">رزرو</h4>
      </div>

    </a>
    <a ng-click="setType('pa')"
       collection-item-width="33.33333333333%"
       collection-item-height="132" >
      <div class="menu-items text-center animated bounceIn">
        <img src="img/businessman.png" />
        <h4 class="main-text-color myText">پکیج</h4>
      </div>

    </a>
  </ion-content>
</ion-view>

