<ion-view  class='bg-grey'>
	<ion-content  >
	<div  style='height: 100%;' class="myText">
	  <div class='content-box'>
			<div id='login-from-box' class='m-top-20 settings' >
				<div style='padding: 35px 0;' class='main-container'>
          <div class="avatar ion-camera" ng-click="gallery()" style="background-image: url('{{pic}}');position: relative !important;"></div>
					<!-- <div ng-show='signUp.error_list.length' class='text-center  m-top-20'>
						<span ng-repeat='error in signUp.error_list' class="error d-block">{{error.message}}</span>
					</div> -->

					<div class='input-box'>
						<input id="name" style="direction: rtl" value="{{name}}" placeholder="نام" class='color-gery myText' type='text' />
						<img class='input-icon icon-20' src='img/icons/user.png'/>
					</div>
					</br>

				  <div class='input-box'>
						<input type="tel" id="tel" style="direction: rtl" value="{{tel}}" placeholder="موبایل" class='color-gery myText' />
						<img class='input-icon icon-20' src='img/icons/mobile.png'/>
					</div>
					</br>
          <input ng-click='do_update()'  class='btn bg-blue color-white big-font m-top-20 myText' type='button' value="ویرایش پروفایل" />

				</div>
		<p  class="text-center color-yellow bg-dark1 p-head no-margin">تغییر رمز عبور</p>
					<div id='update-form' class='bg-' ng-form='sign_up_form' >
						<div class='input-box'>
							<div class="error-container " ng-show="sign_up_form.pwd.$dirty && sign_up_form.pwd.$invalid" >
								<small class="error	 " ng-show="sign_up_form.pwd.$error.required">رمز عبور جدید</small>
								<small class="error	 " ng-show="sign_up_form.pwd.$error.minlength">حداقل ۶ کراکتر</small>
							</div>
							<input style="direction: rtl" name='pwd' ng-model='signUp.pwd' placeholder="رمز عبور" class='color-yellow myText' ng-minlength='6' type='password' required/>
							<img class='input-icon icon-20' src='img/icons/lock.png'/>
						</div>
						</br>

						<div class='input-box'>
							<div class="error-container" ng-show="sign_up_form.pwd.$dirty ">
								<small class="error " ng-show="(signUp.pwd != signUp.c_pwd) ">رمز عبور مشابه نیست</small>

							</div>
							<input id="c_pwd" style="direction: rtl" name='c_pwd' ng-model='signUp.c_pwd' placeholder="تکرار رمز عبور" class='color-yellow myText' type='password' required/>
							<img class='input-icon icon-20' src='img/icons/lockTick.png'/>
						</div>

	<input ng-click='changePass()'  class='btn bg-blue color-white big-font m-top-20 myText' type='button' value="ثبت" />

					</div>

			</div>
		</div>
	</div>
	<div class='color-white text-center net-error' >No network connection!</div>
  </ion-content>

</ion-view>
