<ion-modal-view id='sign-up-page' class='login-page'>

<ion-content  style="direction: rtl" >
	<div  style='height: 100%;' class="myText">
	  <div class='head-bar'>
			<!--<p class='vertical-middle text-center color-yellow big-font'>ثبت نام</p>-->
			<div class='close-icon' ng-click="closeSignUp()">
				<img class='vertical-middle icon-25 ' src='img/icons/close.png'   />
			</div>
		</div>

		<div class='content-box'>
			<div id='login-from-box' class='m-top-20' ng-form='sign_up_form'>
				<div class='main-container'>
          <div id='logo-box'>
            <img class='logo vertical-middle' src='img/logo.png'/>
          </div>
					<!-- <div ng-show='signUp.error_list.length' class='text-center  m-top-20'>
						<span ng-repeat='error in signUp.error_list' class="error d-block">{{error.message}}</span>
					</div> -->

					<div class='login-input input-box'>
						<input name='name' ng-model='signUp.name' placeholder="نام" class='color-yellow myText' type='text' required/>
						<img class='input-icon icon-20' src='img/icons/user.png'/>
					</div>
					</br>

					<div class='login-input input-box'>
					<input name='user_name' ng-model='signUp.user_name' placeholder="نام کاربری" class='color-yellow myText' type='text' ng-minlength='6' required/>
						<img class='input-icon icon-20' src='img/icons/user.png'/>
					</div>
          <div class="error-container " ng-show="sign_up_form.user_name.$dirty && sign_up_form.user_name.$invalid" >
            <small class="error	 " ng-show="sign_up_form.user_name.$error.minlength">حداقل ۶ کراکتر</small>

          </div>
					</br>

					<div class='login-input input-box'>
						<input name='number' placeholder="شماره موبایل" ng-model='signUp.mobile' type='number' class='color-yellow myText' type='text' ng-minlength="11" ng-maxlength="11" required />
						<img class='input-icon icon-20' src='img/icons/mobile.png'/>

					</div>
          <div class="error-container " ng-show="sign_up_form.number.$dirty && sign_up_form.number.$invalid" >
            <small class="error	 " ng-show="sign_up_form.number.$error.number">یک شماره معتبر وارد کنید</small>
            <small class="error	 " ng-show="sign_up_form.number.$error.minlength">یک شماره معتبر وارد کنید</small>
            <small class="error	 " ng-show="sign_up_form.number.$error.maxlength">یک شماره معتبر وارد کنید</small>
          </div>
					</br>

					<!--<div class='login-input input-box'>-->
						<!--<input name='mail' type='email' required ng-model='signUp.mail' placeholder="ایمیل" class='color-yellow myText' type='text' />-->
						<!--<img class='input-icon icon-20' src='img/icons/mail.png'/>-->
					<!--</div>-->
          <!--<div class="error-container " ng-show="sign_up_form.mail.$dirty && sign_up_form.mail.$invalid" >-->
            <!--<small class="error	 " ng-show="sign_up_form.mail.$error.email">یک ایمیل معتبر وارد کنید</small>-->
          <!--</div>-->
					<!--</br>-->

					<div class='login-input input-box'>
						<input name='pwd' ng-model='signUp.pwd' placeholder="رمز عبور" class='color-yellow myText' ng-minlength='6' type='password' required/>
						<img class='input-icon icon-20' src='img/icons/lock.png'/>
					</div>
          <div class="error-container " ng-show="sign_up_form.pwd.$dirty && sign_up_form.pwd.$invalid" >
            <small class="error	 " ng-show="sign_up_form.pwd.$error.minlength">حداقل ۶ کراکتر</small>
          </div>
					</br>

					<div class='login-input input-box'>
						<input name='c_pwd' ng-model='signUp.c_pwd' placeholder="تایید رمز عبور" class='color-yellow myText' type='password' required/>
						<img class='input-icon icon-20' src='img/icons/lockTick.png'/>
					</div>
          <div class="error-container" ng-show="sign_up_form.pwd.$dirty ">
            <small class="error " ng-show="(signUp.pwd != signUp.c_pwd) ">رمز عبور یکسان نیست</small>

          </div>

          <div ng-click="isPhotographer()" class="item item-toggle toggle-large ng-valid"
               toggle-class="toggle-calm" style="padding-right: 15px;border-style: none;margin-top: 10px">
            <div style="direction: rtl;color: whitesmoke"><span id="availableText" class="myText">من عکاس هستم</span></div>
            <label class="toggle disable-user-behavior" style="right: inherit;left: 5px;">
              <input type="checkbox"
                     class="ng-untouched ng-valid ng-dirty ng-valid-parse"
                     value="on" style="">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>

					<input ng-click='do_signUp()' style="margin-right: 10%"  class='btn login-btn-color color-dark border-white myText m-top-30' type='button' value="ثبت " />

				</div>
			</div>
		</div>
	</div>
	<div class='color-white text-center net-error' >به اینترنت متصل نیستید</div>
  </ion-content>

</ion-modal-view>
