<ion-view view-title="خوش آمدید">

  <ion-content scroll="false">
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
              ng-click="startApp()" ng-show="!slideIndex">
        Skip Intro
      </button>
      <button class="button button-positive button-clear no-animation"
              ng-click="previous()" ng-show="slideIndex > 0">
        Previous Slide
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-positive button-clear no-animation"
              ng-click="next()" ng-show="slideIndex != 2">
        Next
      </button>
      <button class="button button-positive button-clear no-animation"
              ng-click="startApp()" ng-show="slideIndex == 2">
        Start using MyApp
      </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide  style="background: url('../img/2.png') no-repeat ;background-size: 100%; width:100%; height:100%;object-fit: contain ">
        <h3 style="color: #0a9ec7">فقط کافیست روز و ساعت و زمان خود را مشخص کنید</h3>


      </ion-slide>
      <ion-slide  style="background: url('../img/1.png') no-repeat ;background-size: 100%; width:100%; height:100%;object-fit: contain ">
        <h3 style="color: #0a9ec7">در لحظه برای هرکاری و هرجایی عکاس داشته باشید</h3>


      </ion-slide>
      <ion-slide  >
        <div  class="bg-dark1 full-height myText" full-height>
          <div class='main-container'>
            <div id='logo-box'>
              <img class='logo vertical-middle' src='img/logo.png'/>
            </div>
            <div id='sign-in-box'>
              <div class='vertical-middle'>
                <!-- <a href='#/signin'><input id='signup-redirect-btn'  class='btn bg-yellow border-white' type='button' value='New user ? Sign Up now !' /></a> </br> -->
                <input ng-click='sign_up()' id='signup-redirect-btn'  class='btn bg-grey color-white border-white myText' type='button' value="ثبت نام" /></br>

                <input ng-click='show_login1()' id='signIn-redirect-btn'  class='btn bg-grey color-white border-white myText' type='button' value="ورود" /> </br>
                <a class='a m-top-10' style="color: #ddd !important;" href='/#/app/forget'>فراموشی رمز عبور</a>
              </div>
            </div>
            <div id='sign-in-with' class='text-center'>
              <div class='vertical-middle'>

                <!--<div class='white-line'></div>-->
                <!--<div  class='line-title text-center' >-->
                <!--<span class='bg-yellow'>{{ 'Or sign In with' | langTranslate: appConvertedLang['Or_sign_In_with'] }}</span>-->
                <!--</div>-->

                <!--<a ng-click="facebookLogin()"><img src='../img/icons/fb.png' /></a>-->
                <!--<a ng-click='googleLogin()'><img src='../img/icons/g+.png' /></a>-->

              </div>
            </div>
          </div>
        </div>
        <div class='color-white text-center net-error' >به اینترنت متصل نیستید</div>
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
