@font-face {
  font-family: 'myFont';
  src:
    url('../lib/ionic/css/font/IRANSans_Medium.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.myText {
  font-family: myFont;
  font-size: medium;
}

